@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --wite-color: #ffffff;
  --bgr-footer-color: #2f303a;
  --font-family-main: 'Roboto', sans-serif;
}

.visually-hidden {
  /* скрыть заголовок*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-text-color);
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

.list h3 {
  color: var(--title-text-color);
}

.list,
a {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
    font-size: 24px;
  }
}

.logo-blue {
  color: var(--accent-text-color);
}

/* ---nav-menu---*/
.header-nav {
  display: flex;
  /*выравнивает в одну строку с лого*/
  align-items: center;
  /*центрует елементы в строке по вертикали */
}

.header-nav-menu-list {
  display: flex;
  /*выравнивает в строку список*/
}

.header-nav-menu-list > li:not(:last-child) {
  margin-right: 50px;
  /*Отступ всем кроме последнего menu*/
}

.header-menu-link {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  color: var(--title-text-color);
  /* ----------полоса активной страницы ------------*/
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover, .header-menu-link:focus {
  color: var(--accent-text-color);
  transform: color;
  /*изменяет цвет по transition*/
}

.header-menu-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu-item:hover .header-menu-link::after {
  transform: scaleX(1);
  /*-- отображения скорости полосы при hover --*/
}

.active-page .header-menu-link,
.active-page .header-menu-link::after {
  color: var(--accent-text-color);
  transform: scaleX(1);
  /*-- отображения скорости полосы при hover i active --*/
}

/*      ---------- end line on focus --------------*/
/*<!--===================== BURGER==================-->*/
@media screen and (max-width: 767px) {
  .header-nav-menu-list {
    display: none;
  }
  .header-contacts-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .burger-btn,
  .mobile-menu__close {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .burger-btn__icon {
    fill: var(--title-text-color);
  }
  .burger-btn:hover .burger-btn__icon,
  .burger-btn:focus .burger-btn__icon {
    fill: var(--accent-text-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    padding: 48px 0px;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 500ms linear;
    z-index: 2;
  }
  .mobile-menu.is-open {
    transform: translateY(0%);
  }
  .mobile-menu__container {
    width: 430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__close:hover .mobile-menu__close-icon,
  .mobile-menu__close:focus .mobile-menu__close-icon {
    fill: var(--accent-text-color);
  }
  .mobile__header-nav-menu-list {
    display: block;
  }
  .mobile__header-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .mobile__header-menu-link:hover, .mobile__header-menu-link:focus {
    color: var(--accent-text-color);
  }
  .mobile__header-nav-menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile__adress {
    margin-top: auto;
  }
  .mobile__header-contacts-list {
    margin-bottom: 64px;
  }
  .adres_header-menu-link {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
  }
  .color-phone {
    color: var(--accent-text-color);
    font-size: 34px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
  .mobile__social-nav-menu-list {
    display: flex;
    width: 100%;
  }
  .mobile__social-menu-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 10px;
  }
  .mobile__social-menu-item:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
  .mobile__social-menu-item .mobile__social-link {
    color: var(--accent-text-color);
  }
  .active-page .mobile__header-menu-link,
  .active-page .mobile__header-menu-link::after {
    color: var(--accent-text-color);
    transform: scaleX(1);
    /*-- отображения скорости полосы при hover i active --*/
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.cont-bot {
  border-bottom: 1px solid #ececec;
}

.header-contacts-list {
  display: flex;
  /*выравнивает в одну строку список контакты*/
  margin-left: auto;
}

.header-contacts-list li + li {
  margin-left: 50px;
  /*Отступ всем кроме последнего */
}

@media screen and (min-width: 1200px) {
  .header-contacts-list {
    justify-content: center;
    align-items: center;
  }
}

.color-adress {
  color: var(--main-text-color);
  line-height: 1.14;
}

/*----------------------icon cotnacts header---*/
.icon-contacts {
  display: flex;
  align-items: center;
  fill: var(--main-text-color);
}

.contact-icon {
  fill: currentColor;
  /*наследование света и ховера от родителя */
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-list {
    display: block;
    /*выравнивает в одну строку список контакты*/
    padding-top: 21px;
    margin: 0 auto 0 77px;
    width: 100%;
  }
  .header-contacts-list li + li {
    margin-left: 0;
    /*Отступ всем кроме последнего */
    margin-top: 10px;
  }
  .header-contacts {
    font-size: 12px;
  }
  .header-contacts-list .header-menu-link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .color-adress {
    font-size: 12px;
  }
  .contact-icon.mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contact-icon.tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .text-minor {
    color: var(--title-text-color);
    /*h2 - servises + team*/
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .text-minor {
    color: var(--title-text-color);
    /*h2 - servises + team*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
  }
}

/*----------------------icon sotial team--===============================-*/
.social-list {
  display: flex;
  /*  в строку иконки */
  justify-content: center;
}

.social-list > li:not(:last-child) {
  margin-right: 10px;
  /*Отступ всем кроме последнего menu*/
}

.social-list__item_link-icon {
  fill: inherit;
}

.social-list__item_link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  одна строка для времени изменения цвета при ховер*/
}

.social-list__item_link:hover, .social-list__item_link:focus {
  background-color: var(--accent-text-color);
  fill: var(--wite-color);
}

.footer-left__logo {
  display: block;
  color: var(--wite-color);
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-logo-blue {
  color: var(--accent-text-color);
}

@media screen and (max-width: 768px) {
  .footer-left {
    margin-bottom: 60px;
  }
}

.footer-left__contacts a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

address {
  font-style: normal;
}

address p {
  margin-bottom: 9px;
  color: var(--wite-color);
}

.footer-list .footer-list_item + .footer-list_item {
  margin-top: 9px;
}

/*----------------------icon sotial  footer---*/
.footer-social h3 {
  text-transform: uppercase;
  color: var(--wite-color);
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.bgc {
  background: rgba(255, 255, 255, 0.1);
  /*color and bg color sotial*/
  fill: white;
}

/* --------------- Секция отправки телеграммм------------------- */
@media screen and (min-width: 1200px) {
  .footer-submit__input {
    margin-left: 93px;
  }
}

.footer-submit-title {
  line-height: 1.1;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--wite-color);
}

@media screen and (min-width: 768px) {
  .footer-submit-title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit-title {
    margin-top: 0px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit__input_wrapper {
    display: flex;
  }
}

.footer-submit__input_form {
  width: auto;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: none;
  padding-left: 16px;
  color: var(--wite-color);
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  .footer-submit__input_form {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit__input_form {
    width: 358px;
    height: 50px;
  }
}

.footer-submit__input_btn {
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-text-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
}

@media screen and (max-width: 1200px) {
  .footer-submit__input_btn {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit__input_btn {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer-submit__input_btn:hover, .footer-submit__input_btn:focus {
  background-color: #188ce8;
}

.footer-btn-icon {
  fill: var(--wite-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(0, -50%);
}

.portfolio-filter {
  display: flex;
}

.portfolio-filter-list {
  display: flex;
  /*список в строку дал ul */
  flex-wrap: wrap;
  margin-left: -8px;
  justify-content: start;
  /*центровка */
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list {
    justify-content: center;
    /*центровка */
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter-list {
    margin-bottom: 50px;
  }
}

.portfolio-filter-list-item {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .portfolio-filter-list-item {
    margin-top: 10px;
  }
}

.btn-filter {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover, .btn-filter:focus {
  color: var(--wite-color);
  background-color: var(--accent-text-color);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  /* Параметры тени */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-item:hover .overlay,
.work-examples-item:focus .overlay {
  transform: translateY(0%);
  /* OVERLAY ON HOVER */
}

.work-exampl-img-title {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 320px) {
  .modal {
    width: 320px;
    height: 379px;
    padding: 15px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  fill: inherit;
  transition: fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .close-icon {
    width: 20px;
    height: 20px;
  }
}

.close-icon:hover, .close-icon:focus {
  fill: var(--accent-text-color);
  transition: fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  text-align: center;
  color: black;
  line-height: 1.4;
  font-size: 20px;
  margin-bottom: 12px;
}

@media screen and (max-width: 480px) {
  .modal-form-head {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.1;
}

.modal-form-input-wrapper {
  position: relative;
  /* контейнер поле ввода */
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  /* поле ввода */
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

@media screen and (max-width: 480px) {
  .modal-form-input {
    height: 25px;
  }
}

.modal-form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-text-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 13px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

@media screen and (max-width: 480px) {
  .modal-form-message {
    height: 70px;
  }
}

.modal-form-message:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .modal-form-checkbox-label {
    font-size: 11px;
  }
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #070707;
  cursor: pointer;
  padding: 0 auto;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label::before {
    margin-left: 12px;
  }
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../img/check.svg);
}

.modal-form-btn {
  align-self: center;
  border-radius: 4px;
  border: 0;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: var(--wite-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  одна строка для времени изменения цвета при ховер*/
}

@media screen and (max-width: 480px) {
  .modal-form-btn {
    padding: 2px 15px;
    margin-top: 10px;
  }
}

.modal-form-btn:hover, .modal-form-btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.modal-form-checkbox-link {
  color: #2196f3;
  text-decoration: underline;
  font-size: 12px;
}

.header .container {
  display: flex;
  padding-bottom: 0;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-mobile.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  text-align: center;
  /*кнопка по центру */
  margin: 0 auto;
  /*секция по центру */
  /*задана ширина 1600+ марджин+ ограничения текста */
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-main {
  background-color: #2f303a;
}

.hero-main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
  margin: 0 auto;
  width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-main-title {
    font-size: 44px;
    width: 700px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-desktop@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-button {
  border-radius: 4px;
  border: 0;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: var(--wite-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  одна строка для времени изменения цвета при ховер*/
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.advantages-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advntage-blok {
  fill: #afb1b8;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantage-pic {
  display: block;
  margin: 0 auto;
  height: 120px;
}

.advantages h3 {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages h3 {
    text-align: left;
  }
}

.our-services {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .our-services {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.services-item {
  width: calc((100% - 90px) / 3);
  /* add formula calc  + margin  ---.team-list .team-item + .team-item */
  margin-left: 30px;
  z-index: -1;
  position: relative;
  /* для позиционирования фона our-services-over*/
}

/*----ыон и цвет на картинках---*/
.our-services-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  overflow: auto;
}

.team {
  background-color: #f5f4fa;
}

.text-minor {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  background-color: var(--wite-color);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.4);
  /* Параметры тени */
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-title {
  padding: 30px;
  /*узнать почему не работает padding; 30px auto -  не работает на строчном элте*/
  text-align: center;
}

.team-list__item h3 {
  margin-bottom: 10px;
}

.team-title__work {
  font-size: 16px;
  /* Параметры шрифта <p> */
  margin-bottom: 16px;
}

/*----------------------icon social team---*/
.cliets-list {
  display: flex;
  /*  в строку иконки */
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .cliets-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients-item {
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc(100% / 2 - 10px);
}

@media screen and (min-width: 480px) {
  .clients-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client-link {
  display: flex;
  max-width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  одна строка для времени изменения цвета при ховер*/
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.clients-icon {
  fill: inherit;
}

footer {
  background-color: var(--bgr-footer-color);
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    /*footer left i footer social in line*/
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 768px) {
  .work-examples-list {
    justify-content: center;
  }
}

.work-examples-item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .work-examples-item {
    width: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples-item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.work-exampl-img-title {
  flex-shrink: 0;
}

.work-examples-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:hover, .work-examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples-item-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  height: 100%;
  /* ============OVERLOY CART======================= */
  display: block;
}

.work-examples-item-title h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */