.advantages-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.advantages-item {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.advntage-blok {
    fill: #afb1b8;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}
.advantage-pic {
    display: block;
    margin: 0 auto;
    height: 120px;
}

.advantages h3 {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}
