.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-mobile.jpg);
    background-color: #c4c4c4;

    background-size: cover;

    text-align: center; /*кнопка по центру */
    margin: 0 auto; /*секция по центру */ /*задана ширина 1600+ марджин+ ограничения текста */

    padding-top: 118px;
    padding-bottom: 118px;

    // @media screen and (min-width: 768px) {
    //     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tabl/hero-tabl.jpg);
    // }

    // @media screen and (min-width: 1200px) {
    //     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img.png);
    //     padding-top: 200px;
    //     padding-bottom: 200px;
    //     max-width: 1600px;
    // }
}

.hero-main {
    background-color: #2f303a;
}

.hero-main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--wite-color);
    margin-right: 0;

    margin: 0 auto;
    //width: 310px;
    @media screen and (min-width: 480px) {
        width: 360px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 700px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-tablet.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-desktop.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header-img-desktop@2x.jpg);
    }
}

// @media screen and (min-width: 480px) {
//     .hero {
//         max-width: 480px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .hero {
//         max-width: 768px;
//     }
// }
@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

// @media screen and (min-width: 480px) {
//     width: 360px;
// }

.hero-button {
    border-radius: 4px;
    border: 0;
    padding: 10px 32px 10px 32px;
    margin-top: 30px;
    background-color: var(--accent-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    color: var(--wite-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*  одна строка для времени изменения цвета при ховер*/

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
